* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

/* NAV STARTS */

.header {
    width: 80vw;
    height: 8rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 3rem;
    justify-self: flex-start;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1rem;
    list-style: none;
    margin-left: auto;
    margin-right: 2rem;
}

.header__nav-item {
    color: #758283;
    cursor: pointer;
}

.header__nav-item:hover {
    color: #000;
    font-weight: 700;
}

.header__btn {
    color: #05b1f6;
    text-decoration: none;
    border: 1px solid #05b1f6;
    padding: .6rem 1.2rem;
    font-size: .8rem;
    border-radius: 8px;
    transition: color .5s, background-color .5s;
}

.header__btn:hover {
    color: #fff;
    background-color: #05b1f6 ;

}

/* NAV ENDS */

/* HERO SECTION START */

.hero {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    padding-top: 5rem;
}

.hero__left {
    width:50%;
}

.main-heading {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 3rem;

}

.main-text {
    color: #758283;
    font-size: .8rem;
    margin-bottom: 4rem;
    width: 70%;
}

.main-btn {
    text-decoration: none;
    background: linear-gradient(to bottom right, #01b5f6, #036eeb);
    color: #fff;
    padding: .7rem 1.2rem;
    font-size: .8rem;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #01b5f6a2;
}

.hero__right-image {
    height: 23rem;
}

/* HERO SECTION END */

/* QUALITY SECTION START */

.quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 70vh;
    margin: auto;   

}

.quality__right {
    padding-left: 3rem;
}

.quality__right-btn {
    padding: .6rem 1.8rem;
}

.quality__image {
    height: 18rem;
}

/* QUALITY SECTION END  */

/* SUPPORT SECTION START */

.support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 80vw;
    height: 70vh;
    margin: auto;
}

.support__image {
    height: 30rem;
}

.support__left-btn {
    padding: .6rem 1.8rem;
}

/* SUPPORT SECTION END */

/* SERVICES SECTION START */

.service {
    width: 80vw;
    margin: 8rem auto;
}

.service__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

.service__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.service__bottom-card{
    padding:2rem;
    transition: background-color .5s;
}

.service__bottom-card:hover {
    background-color: rgba(245, 245, 245, 0.707);
}

.service__bottom-card-heading {
    font-size: 1rem;
    margin: 1rem 0;
}

.service__bottom-card-text {
    font-size: .7rem;
    color: #758283;
    line-height: 1.8;
}


/* SERVICE SECTION END */

/* PRICING SECTION START */

section.pricing {
    /* width: 80vw; */
    /* margin: auto; */
    /* height: 0vh; */
    padding: 5rem 10vw;
    background: linear-gradient(to bottom right, #01b5f6, #036eeb);
}

.pricing__heading {
    text-align: center;
    color: #fff;
}

.pricing__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.pricing__container-card {
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
    padding-bottom: 2rem;
    transition: transform .5s, background-color .5s, color .5s;
}

.pricing__container-card:hover{
    transform: translateY(-.4rem);
}

.pricing__container-card:hover .pricing-container .pricing__container-btn{
    background: linear-gradient(to bottom right, #01b5f6, #036eeb);
    color: #fff;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.text {
    font-size: 1rem;
    color: #758283;
    font-weight: 400;
    margin-bottom: 2rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.feature__icon {
    font-size: 1.5rem;
    color: green;
}

.feature__text {
    font-size: 1.2rem;
    font-weight: 400;
} 

.pricing__container {
    text-align: center;
}
.pricing__container-price {
    font-size: 1rem;
    font-weight: 700;
    color: #758283;
    margin-top: 3rem;
}

.pricing__container-price span {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
}

.pricing__container-cancel {
    font-size: .7rem;
    margin: 1rem 0 2rem 0;
}

.pricing__container-btn {
    color: #01b5f6;
    background: transparent;
    border: 1px solid #01b5f6;
    padding: .6rem 1.2rem;
    border-radius: 7px;
    text-decoration: none;
    font-size: .7rem;
    margin-top: 5rem;
}

/* PRICING SECTION END */

/* TESTIMONIAL SECTION START */

section.testimonial {
    width: 80vw;
    margin: auto;
    padding: 6rem 0;
}

.testimonial__heading, .testimonial__text {
    text-align: center;
}

.testimonial__text {
    margin: auto;
    margin-bottom: 3rem;
}

.testimonial__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.testimonial__container-card {
    padding: 2rem;
    border: .1px solid #758283;
    border-radius: 6px;
}

.testimonial__container-card-text {
    font-size: .8rem;
    line-height: 1.6;
    color: rgba(40, 39, 39, 0.787);
    margin-bottom: 1rem;
    
}

.testimonial__container-card-profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.profile-name {
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.profile-company {
    font-size: .6rem;
    font-weight: 400;
    color: #758283;
}

/* TESTIMONIAL END */

/* REGISTER START */

section.register {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 4rem 10vw;
    background: url('../Assets/Assets-90764ade-d47f-4306-b7b8-6e2b539984bb/footer-bg.svg');
}

.register__left {
    width: 50%;
    /* color: #fff; */
}

.register__text {
    color: #000;
    margin-bottom: 0;
}

.register__btn {
    color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    padding: .8rem 1.3rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color .4s, color .3s, border .3s;
}

.register__btn:hover {
        background-color: #000;
        color: #fff;
        border: none;
}

/* REGISTER SECTION END */

/* FOOTER START */

footer.footer {
    width: 80vw;
    margin: auto;
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: 2fr repeat(4, 1fr);
    padding-top: 4rem;
}

.logo-area img {
    height: 2rem;
}

.logo-area-text {
    line-height: 1.6;
    margin-top: 2rem;
}

.overview-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-heading {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.list-item {
    font-size: 10px;
    color: #758283;
    font-weight: 400;
    list-style: none;
    margin: 10px 0;
}

.social-icon-container img {
    height: 1.5rem;
    margin-top: 10px;
}